body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 800px;
  height: 800px;
  background-color: darkkhaki;
  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: darkgreen;
}
